name: Build

on:
  workflow_dispatch:
  push:
    tags:
      - v*
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build extension
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: "latest"
          cache: "npm"
          cache-dependency-path: "package-lock.json"
      - name: Installing dependencies
        run: npm install
      - name: Packaging
        run: npx vsce package
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: vscode-clazy-*.vsix
      - name: Publish
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          TAG="${{ github.ref_name }}"
          VERSION="${TAG#v}"

          npx vsce publish "vscode-clazy-${VERSION}.vsix" -p "${{ secrets.VSCE_TOKEN }}"
          npx ovsx publish "vscode-clazy-${VERSION}.vsix" -p "${{ secrets.OVSX_TOKEN }}"
