name: Build

on:
    workflow_dispatch:
    push:
        tags:
            - v*
        braches:
            - main

defaults:
    run:
        shell: bash

jobs:
    build:
        runs-on: ubuntu-latest
        name: Build extension
        steps:
            - name: Checkout ${{ github.repository }}
              uses: actions/checkout@v4
            - name: Setup NodeJS
              uses: actions/setup-node@v4
              with:
                  node-version: "latest"
                  cache: "npm"
                  cache-dependency-path: "package-lock.json"
            - name: Installing dependencies
              run: npm install
            - name: Packaging
              run: npx vsce package
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  path: vscode-clazy-*.vsix
            - run: npx vsce publish -p "${{ secrets.VSCE_TOKEN }}"
              if: startsWith(github.ref, 'refs/tags/')
